* {

    padding: 0;
    margin: 0;
   /*  Con border-box, hacemos que el ancho especificado 
   sea el equivalente al ancho total.*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

body {
    background: url(../img/bridges.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contengo-form {
    background: rgba(44,71,92,0.7);
    width: 100%;
    max-width: 500px;
    color: #fff;
    border-radius: 5px;
    margin: 48px auto;
    position: relative;

   
}

.contengo-form .toogle {
    top: 7px;
    width: 100px;
    right: 7px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    line-height: 25px;
    border-bottom: 4px solid #CA2A2A;
    transition: all .5s ease;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


    
}

.contengo-form .toogle span {
    letter-spacing: 0.5px;
}

.contengo-form .toogle:hover {
    border-bottom: 4px solid #15D865;
    transform:scale(1.1);

}

.contengo-form h2 {
    margin: 0 0 30px 0;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
   
}

.contengo-form input[type="text"],
.contengo-form input[type="password"],
.contengo-form input[type="email"] {

    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 10px auto;
    background: rgba(0,0,0,0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    border: none;
    border-radius: 3px;
    border-bottom: 3px solid #CA2A2A;
    transition: all .5s ease;
    cursor: pointer;

}

.contengo-form input[type="text"]:focus,
.contengo-form input[type="password"]:focus,
.contengo-form input[type="email"]:focus {

   border-bottom: 3px solid #15D865;
   transform:scale(1.1);
    
}

.contengo-form input[type="submit"] {
    background:#2E9AFE;
    border-radius: 2px;
    color: #fff;
    font-size: 15px;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
    width: 100%;
}

.contengo-form input[type="submit"]:hover {
    background:#15D865;
    transform:scale(1.1);
}

.contengo-form > .reseteo {
    background: #FF8000;
    opacity: 0.7;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    padding: 10px 0;
    transition: all .5s ease;
    cursor: pointer;

}

.contengo-form .reseteo a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.contengo-form .formulario {
    padding: 40px;
    display: none;
}

.contengo-form .reseteo:hover {
    transform:scale(0.9);
}

.contengo-form .formulario:nth-child(2) {
    display: block;
}


